<section class="mb-32 mt-32 text-center">
	<div class="">
		<h2 class="mb-4 text-3xl font-bold">Quick peak into secure best practices and vulnerable code analysis</h2>
		<p class="sm:px-16 xl:px-64">
			Handful of pages from the Node.js security book showing Command Injection vulnerabilities and Secure Coding flaws
		</p>
		<div class="mt-4 flex flex-row flex-wrap justify-center gap-1">
			<img
				src="/images/book/command-injection-book-sample-p1.png"
				alt="Command injection book cover"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/command-injection-book-sample-p2.png"
				alt="Command injection book table of contents"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/command-injection-book-sample-p3.png"
				alt="Command injection book sample page of the pullit npm package found vulnerable to command injection"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/command-injection-book-sample-p4.png"
				alt="Command injection book sample page of the pullit npm package showing how to exploit the command injection vulnerability"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/command-injection-book-sample-p5.png"
				alt="Command injection book lessons learned about command injection vulnerabilities"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/command-injection-book-sample-p6.png"
				alt="Command injection book defending against command injection book section"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/command-injection-book-sample-p7.png"
				alt="Command injection book choosing the right child_process Node.js API to avoid command injection vulnerabilities"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/command-injection-book-sample-p8.png"
				alt="Test your knowledge section in the Command Injection book"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/command-injection-book-sample-p9.png"
				alt="The vulnerable sketchsvg npm package reviewed in the Command Injection book"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/command-injection-book-sample-p10.png"
				alt="The command injection book back cover"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
		</div>
	</div>
</section>
