---
import { Image } from 'astro:assets';

import AmazonFeaturedImage from '~/assets/images/amazon-nodejs-secure-coding-books-featured1.png';

const {
    discountPercentage,
    priceAfterDiscount,
    linkBuy,
} = Astro.props;
---

<container class="relative mx-auto">
    <div class="mx-auto max-w-6xl md:px-8 p-4 pb-36 pt-24">
        <div class="md:flex md:gap-16 md:flex-row-reverse">
            <div class="md:basis-1/2 self-center">
                <div class="mx-auto gap-8 grid gap-y-4 md:gap-y-8">
                    <div>
                        <div class="flex flex-row max-w-none">
                            <div class="">
                                <h3 class="font-medium dark:text-white leading-6 rtl:ml-0 rtl:mr-2 text-lg">
                                    Literally, the only Node.js Secure Coding books on Amazon.
                                </h3>
                                <p class="mt-10 max-w-md">
                                    Get the paperback version of Node.js Secure Coding books on Amazon.com.
                                </p>
                                <a
                                    href="https://www.amazon.com/s?k=node.js+secure+coding"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <button class="mt-2 bg-gray-100 inline-flex py-3 px-6 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
                                        <?xml version="1.0" encoding="iso-8859-1"?>
                                        <svg height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                            viewBox="0 0 291.319 291.319" xml:space="preserve">
                                        <g>
                                            <path style="fill:#F4B459;" d="M252.089,239.901c-120.033,57.126-194.528,9.331-242.214-19.7c-2.95-1.83-7.966,0.428-3.614,5.426
                                                c15.886,19.263,67.95,65.692,135.909,65.692c68.005,0,108.462-37.107,113.523-43.58
                                                C260.719,241.321,257.169,237.78,252.089,239.901z M285.8,221.284c-3.223-4.197-19.6-4.98-29.906-3.714
                                                c-10.324,1.229-25.818,7.538-24.471,11.325c0.692,1.42,2.103,0.783,9.195,0.146c7.11-0.71,27.029-3.223,31.18,2.203
                                                c4.17,5.462-6.354,31.49-8.275,35.687c-1.857,4.197,0.71,5.28,4.197,2.485c3.441-2.795,9.668-10.032,13.847-20.274
                                                C285.718,238.845,288.249,224.479,285.8,221.284z"/>
                                            <path style="fill:#484848;" d="M221.71,149.219V53.557C221.71,37.125,205.815,0,148.689,0C91.572,0,61.184,35.696,61.184,67.85
                                                l47.74,4.27c0,0,10.633-32.136,35.313-32.136s22.987,19.992,22.987,24.316v20.784C135.607,86.149,57.096,95.18,57.096,161.382
                                                c0,71.191,89.863,74.177,119.332,28.167c1.138,1.866,2.431,3.696,4.051,5.408c10.843,11.398,25.308,24.981,25.308,24.981
                                                l36.852-36.415C242.658,183.513,221.71,167.071,221.71,149.219z M112.511,152.578c0-30.579,32.764-36.779,54.722-37.507v26.319
                                                C167.224,193.527,112.511,185.634,112.511,152.578z"/>
                                        </g>
                                        </svg>
                                        <span class="ml-4 flex items-start flex-col leading-none">
                                            <div class="mb-1">
                                            <span class="text-xs text-gray-600 ">Buy on Amazon </span>
                                            <span class="text-xs text-gray-600 ">$33.87</span>
                                            </div>
                                        </span>
                                    </button>
                                </a>

                                <div class="mt-10">
                                    <p class="max-w-md">
                                        Even better, <span class="font-bold">SAVE {discountPercentage}%</span> and get 2 digital editions of Node.js Secure Coding books in PDF and EPUB straight to your inbox.
                                    </p>
                                    <a
                                        class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-7 py-3 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                        href={linkBuy}
                                        target="_blank"
                                        rel="noopener"
                                    >
                                        <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                                            <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                                        </svg>
                                        <span class="ml-4">Get 2 books for {priceAfterDiscount}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:basis-1/2" aria-hidden="true">
                <div class="relative m-auto max-w-4xl">
                    <Image
                        src={AmazonFeaturedImage}
                        alt="Amazon books search results lists Liran Tal Node.js Secure Coding books"
                        class="mx-auto w-full rounded-lg shadow-lg" loading="lazy" />
                </div>

            </div>
        </div>
    </div>
</div>
</container>