---
import { Icon } from 'astro-icon';
import { PROFILE } from '~/config.mjs';
import Logo from '~/components/atoms/BooksLogo.astro';
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import { getPermalink, getBlogPermalink, getHomePermalink } from '~/utils/permalinks';
---

<script type="text/javascript">

document.addEventListener("DOMContentLoaded", (event) => {

	const button = document.getElementById('dropdownButton');
	const dropdown = document.getElementById('dropdown');
	button.addEventListener('click', () => {
		if (dropdown.classList.contains('hidden')) {
			dropdown.classList.remove('hidden');
		} else {
			dropdown.classList.add('hidden');
		}
	});
});

</script>

<header
	class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm border-b dark:border-b-0"
>
	<div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4">
		<div class="flex justify-between">
			<a class="flex items-center" href={getHomePermalink()}>
				<Logo />
			</a>
			<div class="flex items-center md:hidden">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-300 h-screen md:h-auto"
			aria-label="Main navigation"
			id="menu"
		>
			<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto collapsed text-xl md:text-base">

				
				<div class="relative inline-block text-left my-auto md:mb-auto md:ml-0 mb-4 ml-4">
					
					<button id="dropdownButton" data-dropdown-toggle="dropdown"
					class="md:ml-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-small rounded-md text-sm px-3 py-1 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
					Books
				
					<svg class="w-2 h-2 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
					</svg>
					</button>
				
					<div id="dropdown" class="absolute z-10 hidden bg-white divide-y divide-gray-700 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
						<ul class="py-0 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButton">
							<li>
								<a href="/book/command-injection" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Command Injection</a>
							</li>
							<li>	
								<a href="/book/path-traversal" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Path Traversal</a>
							</li>
							<li>
								<a href="/book/essential-nodejs-security" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Essential Node.js Security</a>
							</li>
						</ul>
						<div class="py-2">
							<a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Books Bundle</a>
						  </div>
					</div>
				</div>

				<!-- <li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="/security-training">Command Injection</a
					>
				</li>
				<li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="/security-training">Path Traversal</a
					>
				</li> -->
				<li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="/security-training">Training</a
					>
				</li>
				<li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href={getBlogPermalink()}>Blog</a
					>
				</li>
			</ul>
			<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
				<div class="hidden items-center md:flex">
					<ToggleTheme iconClass="w-5 h-5" />
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						href="/yoda"
						aria-label="See the Star Wars version"
					>
						<Icon name="la:jedi" class="w-5 h-5" />
					</a>

					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Liran Tal's Twitter"
						href={PROFILE.twitterURL}
					>
						<Icon name="mdi:twitter" class="w-5 h-5" />
					</a>
					<a
						href={PROFILE.githubURL}
						class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
						aria-label="Liran Tal's GitHub"
					>
						<Icon name="mdi:github" class="w-5 h-5" />
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>
