<div class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
    <span class="font-semibold text-gray-400 uppercase"></span>

    <div class="mt-4">
        <div class="flex mb-2 -space-x-4 justify-center flex-wrap">
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader1.jpg"
                alt="Thomas"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader2.jpg"
                alt="Manuel"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader3.jpg"
                alt="Yoni"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader21.jpg"
                alt="Tally"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader4.jpg"
                alt="Mateo"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader5.jpg"
                alt="Sergio"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader20.jpg"
                alt="Manu"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader6.jpg"
                alt="Hung"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader7.jpg"
                alt="Kriakos"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader19.jpg"
                alt="Sophia"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader8.jpg"
                alt="Daniel"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader9.jpg"
                alt="David"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader10.jpg"
                alt="Miguel"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader11.jpg"
                alt="Joachim"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader12.jpg"
                alt="Jesús"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader13.jpg"
                alt="DiMilan"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader14.jpg"
                alt="Ashif"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader15.jpg"
                alt="Ivan"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader16.jpg"
                alt="Heru"
                loading="lazy"
            />
            <img
                class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                src="/images/readers/reader17.jpg"
                alt="Ngoran"
                loading="lazy"
            />
            <span
                class="pl-3 flex items-center justify-center w-12 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
                >+99</span
            >
        </div>
        <p class="text-sm font-light">
            Join Kyriakos, Sergio, Mateo, and hundreds of developers who learn from Liran Tal
        </p>
    </div>
</div>
</div>