<div class="py-8 mx-auto max-w-screen-xl text-center lg:py-6 mb-8 lg:px-12">
<div class="p-6">
    <p class="mt-2 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-32 dark:text-gray-400 mb-2">
        Don't give in to security vulnerabilities.
    </p>
        <code
            class="w-full text-sm sm:text-base inline-flex text-left items-center space-x-4 bg-gray-800 text-white p-4 pl-6"
        >
            <span class="flex gap-4">
                <span class="shrink-0 text-gray-500"> $</span>

                <span class="flex-1">
                    <span> npm install</span>

                    <span class="text-yellow-500"> url-parse serve @sveltejs/kit next react-svg</span>
                </span>
            </span>
        </code>

        <code>
            <div class="w-full text-sm sm:text-base text-left items-center space-x-4 bg-gray-800 text-white -p-4 pl-6">
                <span class="text-gray-300">added 74 packages, and audited 74 packages in 24s</span>
            </div>
            <div
                class="w-full text-sm sm:text-base text-left items-center space-x-4 bg-gray-800 text-white -p-4 pb-4 pl-6"
            >
                <span class="text-red-700">24 high<span class="text-gray-300"> severity vulnerabilities</span></span>
            </div>
        </code>

        <p class="mt-2 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-32 dark:text-gray-400">
            
            
            Master Node.js security and secure coding best practices through analyzing and exploiting real-world vulnerable
			npm packages.
        </p>
    </div>
</div>