---
---

<div class="px-4 py-8 md:py-16 sm:px-6 mx-auto md:px-24 lg:px-8 lg:py-20 max-w-6xl">
	<div class="mb-4 grid lg:grid-cols-3 row-gap-8 md:grid-cols-1 sm:grid-cols-1">
		<div class="pr-4 pl-4 text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-pink-500 font-heading">Millions</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
				of Downloads
			</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				Millions of for vulnerable open-source npm packages and projects reviewed in this book, demonstrating the wide
				impact on the ecosystem.
			</p>
		</div>
		<div class="pr-4 pl-4 text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-pink-500 font-heading">10</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
				Chapters
			</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				2 introductory chapters, 6 CVE-focused chapters reviewing real-world vulnerable npm packages, 1 best practice
				chapter and 1 concluding in-the-wild vulnerabilities review chapter.
			</p>
		</div>
		<div class="pr-4 pl-4 text-center dark:md:border-slate-500 font-heading">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-pink-500">2018-2022</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
				CVE Years
			</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				This book reviews up-to-date security vulnerabilities from the recent years, ranging from 2018 to 2022.
			</p>
		</div>
	</div>
	<div class="mt-20 mb-4 grid lg:grid-cols-3 row-gap-8 md:grid-cols-1 sm:grid-cols-1">
		<div class="pr-4 pl-4 text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-pink-500 font-heading">33</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
				QUIZ Questions
			</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				Yes-no, Fill-the-blanks, and multiple answers questions to help you evaluate and test your knowledge in Node.js
				secure coding
			</p>
		</div>
		<div class="pr-4 pl-4 text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-pink-500 font-heading">106</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">Pages</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				Extensive hands-on exercises and practical code review of vulnerable code to draw insights and lessons learned
			</p>
		</div>
		<div class="pr-4 pl-4 text-center dark:md:border-slate-500 font-heading">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-pink-500">12</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
				vulnerable npm packages
			</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				6 CVE chapters deeply reviewing vulnerable npm packages for lessons learned on command injection
				vulnerabilities, and 6 more references to vulnerable npm packages to exercise your secure coding skills.
			</p>
		</div>
	</div>
</div>
