---
// import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import { Icon } from 'astro-icon';

import Layout from '~/layouts/BooksLayout.astro';

// import Hero from '~/components/widgets/BooksHero.astro';
import Hero from '~/components/widgets/EnterpriseHero.astro';
import Pricing1Column from '~/components/widgets/CommandInjection/Pricing1Column.astro';
import PricingColumn from '~/components/widgets/EnterprisePricingColumns.astro';
import BookFeatures from '~/components/widgets/CommandInjection/BookFeatures.astro';
import Features from '~/components/widgets/Features.astro';
import BookAuthor from '~/components/widgets/CommandInjection/BookAuthor.astro';
import BooksHeroYoda from '~/components/widgets/BooksHeroYoda.astro';
import Steps from '~/components/widgets/Steps.astro';
import TalkSessions from '~/components/widgets/TalkSessions.astro';
import Features3 from '~/components/widgets/Features3.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQ from '~/components/widgets/CommandInjection/FAQ.astro';
import Stats from '~/components/widgets/CommandInjection/Stats.astro';
import CallToAction from '~/components/widgets/CommandInjection/CallToAction.astro';
import ProfileHero from '~/components/widgets/ProfileHero.astro';
import TestimonialHeroBlock from '~/components/widgets/CommandInjection/TestimonialHeroBlock.astro';
import Value from '~/components/widgets/Value.astro';

const meta = {
	title: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
	description: `Discover the best practices for Node.js security and secure coding. Learn how to identify and prevent command injection vulnerabilities with expert Liran Tal.`,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<!-- <ProfileHero />
	<Features />
	<HighlightedPosts /> -->

	<Hero />

	<TalkSessions />

	<Value
		size="lg:w-1/2"
		title="#1: Educate Your Developers and Security Teams"
		subtitle="ðŸ“– ðŸ¦„ ðŸŽ“"
		subheader="25 copies of the Node.js Secure Coding book"
		image={{
			src: '/images/book/nodejs-secure-coding-book-3d-style.png',
			alt: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
		}}
		content={[
			`Hand-out book copies of the Node.js Secure Coding book in digital edition (PDF and EPUB) to your teams around the world`,
			`Empower your team with a comprehensive understanding of Command Injection security
	vulnerabilities in Node.js applications and their impact on your business`,
			`Support your developers technical career growth and broaden their skill-set with
		valuable and positive business impact that builds secure coding practices experience`,
		]}
	/>

	<Value
		size="w-2/3"
		title="#2: Technical Expert Session"
		subtitle="ðŸŽ¸ ðŸ”‰"
		subheader="60 minutes with Liran Tal in-person or remote session"
		mosaic={{
			'1small': {
				src: '/images/book/lirantal-talks-6.jpeg',
				alt: 'Liran Tal talks about React Seecurity at React Next 2021',
			},
			'2small': {
				src: '/images/book/lirantal-talks-3.jpeg',
				alt: 'Liran Tal talks about Node.js security at ReactiveConf',
			},
			'3large': {
				src: '/images/book/lirantal-talks-2.jpeg',
				alt: 'Liran Tal talks about supply chain security and JavaScript security at JSNation 2021',
			},
			'4large': {
				src: '/images/book/lirantal-talks-5.jpeg',
				alt: 'Liran Tal talks about container security and building production-grade secure Node.js docker containers at DevOpsDays 2021',
			},
			'5small': {
				src: '/images/book/lirantal-talks-4.jpeg',
				alt: 'Liran Tal talks about Node.js security and web security topics at JSHeroes 2017',
			},
			'6small': {
				src: '/images/book/lirantal-talks-1.jpeg',
				alt: 'Liran Tal talks about breaking into containers at NodeTLV 2021',
			},
		}}
		content={[
			`Host a technical expert session with me about a topic of your choosing`,
			`How to get involved in the Node.js project? Interested in open-source security & supply chain security stories? Developer Relations, open-source communities and more`,
		]}
	/>

	<Value
		size="lg:w-1/2"
		title="#3: Evaluate Your Developers Skills and Engage in Fun Quizzes"
		subtitle="ðŸ¤ âœ… ðŸ¤"
		subheader="33 Questions to Test Your Knowledge"
		gallery={[
			{
				src: '/images/book/nodejs-secure-coding-book-quiz1.png',
				alt: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
			},
			{
				src: '/images/book/nodejs-secure-coding-book-quiz2.png',
				alt: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
			},
		]}
		content={[
			`33 Yes-No and multiple answers questions to engage your developers in a fun and educational way`,
			`Open-ended questions to encourage your developers to think about security and how it impacts their work`,
			`Code quizzes to evaluate your developers knowledge and understanding of security best practices`,
		]}
	/>

	<PricingColumn />

	<section>
		<div class="container px-5 py-4 mx-auto">
			<div class="mx-auto max-w-screen-md text-center mb-8">
				<h2 class="text-2xl tracking-tight mb-4">Take a peak in the book</h2>
				<p>
					Note that many of the book chapters and headlines were removed or redacted in this freely available public
					book preview version.
				</p>
				<div class="flex flex-col items-center mr-4 mt-8">
					<object data="public/nodejs-secure-coding-book-preview.pdf" type="application/pdf" width="600" height="800">
						<a href="public/nodejs-secure-coding-book-preview.pdf">Node.js Secure Coding book preview PDF</a>
					</object>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container px-5 py-4 mx-auto">
			<div class="mx-auto max-w-screen-md text-center mb-8">
				<h2 class="text-2xl tracking-tight">More reasons to practice secure coding?</h2>
				<div class="flex flex-col items-center mr-4">
					<div class="mt-4">
						<Icon name="ic:baseline-expand-circle-down" class="w-5 h-5 text-gray-600 dark:text-slate-200 icon-bold" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <Hero
		title="Node.js Secure Coding:"
		subtitle="Defending Against Command Injection Vulnerabilities"
		CTA2={{
			text: 'Defend Your Code',
			href: 'https://nodejs-security.lemonsqueezy.com/checkout/buy/6ee5f646-a6fc-4d6e-bda4-7ebbe26aea41',
			priceOld: '$57.60',
			// priceNew: '$43.20',
		}}
		SKIP_CTA1={{ text: 'Learn more', href: '#features' }}
		SKIP_CTA3={{ text: 'Learn more', href: '#features' }}
		image={{
			src: import('~/assets/images/nodejs-secure-coding-book-3d-style.png'),
			alt: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
		}}
	>
		<Fragment slot="description">
			<span class="hidden sm:inline">
				Don't settle for generic security guides, experience them.
				<br /><br />Learn secure coding conventions in Node.js by executing command injection attacks on real-world npm
				packages and analyzing vulnerable code.
			</span>
		</Fragment>
	</Hero> -->

	<!-- <Features /> -->
	<!-- <Features3 /> -->

	<!-- <ScaleUpSecurity />

	<TestimonialHeroBlock />

	<BookFeatures />

	

	<Pricing1Column />

	<BookAuthor />

	<FAQ />
	<Stats />
	<CallToAction /> -->
</Layout>
