---
// import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/BooksLayout.astro';

import Hero from '~/components/widgets/BooksHero.astro';
import Pricing1Column from '~/components/widgets/Pricing1Column.astro';
import BookFeatures from '~/components/widgets/BookFeatures.astro';
import Features from '~/components/widgets/Features.astro';
import BookAuthor from '~/components/widgets/BookAuthor.astro';
import BooksHeroYoda from '~/components/widgets/BooksHeroYoda.astro';
import Steps from '~/components/widgets/Steps.astro';
import ScaleUpSecurity from '~/components/widgets/ScaleUpSecurity.astro';
import Features3 from '~/components/widgets/Features3.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQ from '~/components/widgets/FAQ.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ProfileHero from '~/components/widgets/ProfileHero.astro';
import TestimonialHeroBlock from '~/components/widgets/TestimonialHeroBlock.astro';
import TestimonialCollection from '~/components/widgets/TestimonialCollection.astro';

const meta = {
	title: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
	description: `Discover the best practices for Node.js security and secure coding. Learn how to identify and prevent command injection vulnerabilities with expert Liran Tal.`,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<!-- <ProfileHero />
	<Features />
	<HighlightedPosts /> -->

	<Hero
		title="Node.js Secure Coding:"
		subtitle="Defending Against Command Injection Vulnerabilities"
		CTA2={{
			text: 'Defend Your Code',
			href: 'https://nodejs-security.lemonsqueezy.com/checkout/buy/6ee5f646-a6fc-4d6e-bda4-7ebbe26aea41',
			priceOld: '$57.60',
			priceNew: '$46.08',
		}}
		SKIP_CTA1={{ text: 'Learn more', href: '#features' }}
		SKIP_CTA3={{ text: '20% OFF', href: '#features' }}
		DISCOUNT_CALLOUT={{ text: '20% OFF SALE' }}
		image={{
			src: import('~/assets/images/nodejs-secure-coding-book-3d-style.png'),
			alt: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
		}}
	>
		<Fragment slot="description">
			<span class="hidden sm:inline">
				Don't settle for generic security guides, experience them.
				<br /><br />Learn secure coding conventions in Node.js by executing command injection attacks on real-world npm
				packages and analyzing vulnerable code.
			</span>
		</Fragment>
	</Hero>

	<TestimonialCollection />

	<ScaleUpSecurity />

	<TestimonialHeroBlock />

	<BookFeatures />

	<Pricing1Column />

	<!-- <Steps /> -->
	<!-- <Features3 /> -->
	<!-- <Features /> -->

	<BookAuthor />

	<FAQ />
	<Stats />
	<CallToAction />
</Layout>
