---

import DeveloperCircles from "~/components/widgets/DeveloperCircles.astro";
import NewsletterForm from "~/components/widgets/newsletter//NewsletterForm.astro";

---

<section class="">
    <div class="container mx-auto  px-5 py-14 items-center text-center justify-center flex lg:flex-col">
        
         <div class="lg:flex lg:flex-row justify-center items-center">
            <div class="lg:w-1/2 flex flex-col justify-center items-center">
                <div class="w-20 mb-4 justify-center items-center">
                    
                    <img class="rounded-full" src="/images/lirantal-profile-picture.png" alt="Liran Tal profile picture" />
                    <h3 class="text-sm mt-2 ">curated by Liran Tal</h3>
                </div>
        
                <div class="mt-4 lg:w-3/4">
                    <DeveloperCircles />
                </div>
            </div>

            <div class="lg:w-1/2">
                <NewsletterForm />
            </div>
        </div>

    </div>
</section>
