---

import DeveloperCircles from "~/components/widgets/DeveloperCircles.astro";
import NewsletterForm from "~/components/widgets/newsletter//NewsletterForm.astro";

const title = `Node.js Security Newsletter`;
const description = `Everything in and around the Node.js security ecosystem, direct to your inbox.`;

---

<section class="min-h-screen">
    <div class="container mx-auto flex px-5 py-24 items-center text-center justify-center flex-col">
        
        <div class="w-32 mb-4">
            <img class="rounded-full" src="/images/lirantal-profile-picture.png" alt="Liran Tal profile picture" />
        </div>

        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            { title }
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
            { description }
        </p>

        <NewsletterForm />

        <div class="mt-4 max-w-xl">
            No weekly nudges. <span class="font-bold">News when it matters.</span>

            <span class="block mt-6"></span>

            JavaScript & web security insights, latest security vulnerabilities, hands-on secure code insights, npm ecosystem incidents, Node.js runtime feature updates, Bun and Deno news, secure coding best practices, malware, malicious packages, and more.
        </div>

        <div class="mt-12">
            <DeveloperCircles />
        </div>

    </div>
</section>
