---

import DeveloperCircles from "~/components/widgets/DeveloperCircles.astro";
import NewsletterForm from "~/components/widgets/newsletter//NewsletterForm.astro";

const title = `Node.js Security Newsletter`;
const description = `Everything in and around the Node.js security ecosystem, direct to your inbox.`;

---

<section class="min-h-screen">
    <div class="container mx-auto flex px-5 py-24 items-center text-center justify-center flex-col">
        
        <div class="w-32 mb-4">
            <img class="rounded-full" src="/images/lirantal-profile-picture.png" alt="Liran Tal profile picture" />
        </div>

        <NewsletterForm />

        <div class="mt-12">
            <DeveloperCircles />
        </div>

    </div>
</section>
