---


---

<div class="flex flex-col backdrop-blur bg-slate border dark:bg-slate-800 rounded-lg border-gray-200 dark:border-gray-700 lg:p-8 max-w-xl mx-auto p-4 shadow sm:p-6 w-full">
    <form class="flex flex-row gap-0 content-center text-center justify-center">
        <div class="w-full">
            <input
              type="text"
              name="email"
              id="email"
              autocomplete="email"
              placeholder="crash.override@gibson.com"
              class="py-3 px-4 block w-full text-md rounded-l-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
            />
          </div>

          <button type="submit" class="inline-flex justify-center items-center px-5 text-base font-medium text-center text-white rounded-r-lg bg-purple-700 hover:bg-purple-800  focus:ring-purple-300 dark:focus:ring-purple-900">
                Subscribe
          </button>
    </form>
  </div>