<section class="mb-32 mt-32 text-center">
	<div class="">
		<h2 class="mb-4 text-3xl font-bold">Quick peak into secure best practices and vulnerable code analysis</h2>
		<p class="sm:px-16 xl:px-64">
			Handful of pages from the Node.js security book showing Path Traversal vulnerabilities and Secure Coding flaws
		</p>
		<div class="mt-4 flex flex-row flex-wrap justify-center gap-1">
			<img
				src="/images/book/path-traversal-book-sample-p1.png"
				alt="Path Traversal book cover"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/path-traversal-book-sample-p2.png"
				alt="Path Traversal book table of contents"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/path-traversal-book-sample-p3.png"
				alt="Path Traversal book vulnerability in practice code example"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/path-traversal-book-sample-p4.png"
				alt="Path Traversal book vulnerability in serve npm package"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/path-traversal-book-sample-p5.png"
				alt="Path Traversal book offensive security"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/path-traversal-book-sample-p6.png"
				alt="Path Traversal book offensive security docker setup"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/path-traversal-book-sample-p7.png"
				alt="Preventing Path Traversal vulnerability in Node.js"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/path-traversal-book-sample-p8.png"
				alt="The hidden impact of path traversal vulnerability in Node.js"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/path-traversal-book-sample-p9.png"
				alt="Test your knowledge of Path Traversal vulnerability in Node.js"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
			<img
				src="/images/book/path-traversal-book-sample-p10.png"
				alt="Path Traversal vulnerability book back cover"
				class="w-24 h-32 object-cover hover:w-64 hover:h-96 transition duration-500"
			/>
		</div>
	</div>
</section>
