---
---

<div class="px-4 py-8 md:py-16 sm:px-6 mx-auto md:px-24 lg:px-8 lg:py-20 max-w-6xl">
	<div class="mb-4 grid lg:grid-cols-3 row-gap-8 md:grid-cols-1 sm:grid-cols-1">
		<div class="pr-4 pl-4 text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-purple-500 font-heading">Be The Hacker</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
			</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				1 Chapter dedicated to offensive path traversal security tools and techniques in which you launch an automated attack
			</p>
		</div>
		<div class="pr-4 pl-4 text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-purple-500 font-heading">11</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
				Chapters
			</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				2 introductory chapters to learn about Path Traversal vulnerabilities, followed by 7 laser-focused CVE chapters reviewing real-world vulnerable npm packages,
				1 chapter on offensive security tools, 1 path traversal secure coding best practices chapter
				and 1 concluding chapter with 40 self-assessment path traversal security questions.
			</p>
		</div>
		<div class="pr-4 pl-4 text-center dark:md:border-slate-500 font-heading">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-purple-500">2014-2021</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
				CVE Security Reports
			</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				Learn from past mistakes of other developers and open-source maintainers who published JavaScript packages to npm and were affected by security vulnerabilities.
			</p>
		</div>
	</div>
	<div class="mt-20 mb-4 grid lg:grid-cols-3 row-gap-8 md:grid-cols-1 sm:grid-cols-1">
		<div class="pr-4 pl-4 text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-purple-500 font-heading">40</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
				QUIZ Questions
			</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				Are you learning effectively? This book includes 40 self-assessment questions in the form of
				Yes-no, Fill-the-blanks, and multiple answers questions to help evaluate your understanding of 
				secure coding in Node.js and assess your application security skills.
			</p>
		</div>
		<div class="pr-4 pl-4 text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-purple-500 font-heading">117</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">Pages</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				117 pages of Node.js secure coding lessons, best practices, and real-world vulnerabilities analysis and insights.
			</p>
		</div>
		<div class="pr-4 pl-4 text-center dark:md:border-slate-500 font-heading">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-purple-500">7</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
				vulnerable npm packages
			</p>
			<p class="text-gray-800 dark:text-slate-400 mt-4">
				7 Chapters covering security vulnerability reports (CVEs) in real-world vulnerable npm packages,
				and in-depth code review analysis of the path traversal vulnerabilities, the security fix strategy
				and lessons learned with key takeaways for secure coding.
			</p>
		</div>
	</div>
</div>
