---

const { bundlePricing } = Astro.props

---


<div class="mx-auto text-center -mt-28 px-16 md:px-4 mb-12">
    <p class="mt-2 text-normal font-light text-gray-500 dark:text-gray-400">
        <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
            Tip:
        </span>
         get 2 secure coding books bundle for <code>{bundlePricing.priceAfterDiscount}</code> and save <code>{bundlePricing.discountPercentage}%</code>
    <span class="block"></span>
    <a
        class="mt-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-normal rounded-lg text-sm px-4 py-1.5 text-center inline-flex items-center me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        href={bundlePricing.linkBuy}
        target="_blank"
        rel="noopener"
    >
        <svg class="w-2 h-2 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
            <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
        </svg>
        Buy Bundle
    </a>
    </p>
</div>